<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here Is the Info</title>
</head>
<body>
    <h2><%=allList.title%></h2>
    <img src="<%=allList.image.url%> " width="400">
    <p> &#8377;<%=allList.price.toLocaleString("en-IN")%></p>
    <p><%=allList.location%></p>
    <p><%=allList.country%></p>
</body>
</html>