<% layout("/layouts/boilerplate"); %>

<div class="row">
    <div class="col-10 ">

<h1>Listing Details :</h1>

<div class="card col-8">
     <% if (allList?.image?.url) { %>
        <img src="<%= allList.image.url %>" class="card-img-top show-img" width="400">
    <% } %>
<div class="card-body ">
<h2><%= allList?.title %></h2> <br>
<%= allList?.description %>  <br>
<%= allList?.location %>  <br>
<%= allList?.country %>  <br>
<%= allList?.price.toLocaleString("en-IN")%>  <br>
</div>    

</div>
<body>

    <div class="btn-show">
        
            <form method="post" action="/listings/<%=allList._id%>/delete">
        <button class="btn btn-dark ">Delete</button>
    </form>
    <br>
        <form method="get" action="/listings/<%=allList._id%>/edit">
        <button class="btn btn-dark btn edit-btn">Edit</button>
        </form>


    

    </div>

    



</body>
 </div>
</div>