<% layout("/layouts/boilerplate"); %>

<body>
    <h2><%= allList?.title %></h2>

    <% if (allList?.image?.url) { %>
        <img src="<%= allList.image.url %>" width="400">
    <% } %>

    <p><%= allList?.location %></p>
    <p><%= allList?.country %></p>

    <form method="post" action="/listings/<%=allList._id%>/delete">
        <button>Delete</button>
    </form>
</body>
