<% layout("/layouts/boilerplate"); %>

<div class="row mt-3">
    <div class="col-8 offset-2">

        <h2><%= allList?.title %></h2> 
        <div class="card border-0 mb-3">
            <% if (allList?.image?.url) { %>
                <img src="<%= allList.image.url %>" class="card-img-top show-img" alt="Listing Image">
            <% } %>
            <div class="card-body">
                <p class="card-text">
                    <%= allList?.description %> <br>
                    &#8377; <%= allList?.price.toLocaleString("en-IN") %> <br>
                    <%= allList?.location %> <br>
                    <%= allList?.country %>
                </p>
            </div>    
        </div>

        <div class="d-flex mb-3">
            <form method="get" action="/listings/<%=allList._id%>/edit">
                <button class="btn btn-dark me-3">Edit</button>
            </form>
            <form method="post" action="/listings/<%=allList._id%>/delete">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
        
        <hr>

        <div class="mb-3 mt-3">
            <h4>Leave a Review</h4>
            <form action="/listings/<%=allList._id%>/reviews" method="post" class="needs-validation" novalidate>
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" class="form-control" cols="30" rows="5" required></textarea>
                    <div class="invalid-feedback">Please add some comments for your review.</div>
                </div>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
        </div>

        <hr>

        <% if(allList.reviews.length > 0) { %>
            <h4>All Reviews</h4>
            <div class="row">
                <% for(review of allList.reviews) { %>
                    <div class="col-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Rating: <%= review.rating %> Stars</h5>
                                <p class="card-text"><%= review.comment %></p>
                                <form class="mb-3" method="POST" action="/listings/<%= allList._id %>/reviews/<%= review._id %>/delete">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>

    </div>
</div>