<% layout("/layouts/boilerplate"); %>
<div class="row mt-3">
<div class="col-8">

<body>
    <h2>Edit Your Listing -></h2>    <br>
<form action="/listings/<%=user._id%>/edit?_method=PUT" method="post">
    
    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input
                            type="text"
                            name="eidt[title]"
                            class="form-control"
                            placeholder="Enter Your Title"
                            value="<%=user.title%>"
                        >
                    </div>

<div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea
                            type="text"
                            name="edit[description]"
                            class="form-control"
                            placeholder="Enter Your Title"
                                                    > <%=user.description%></textarea>
                    </div>
<div class="mb-3">
                        <label class="form-label">URL</label>
                        <input
                            type="text"
                            name="edit[image][url]"
                            class="form-control"
                            placeholder="Enter Your URL"
                                                        value="<%=user.image.url%>"

                        >
                    </div>

                    <div class="card mb-3">
  <img src="<%= user.image.url%>" class="card-img-top" alt="image">

</div>
                    <div class="row">

<div class="mb-3 col-md-4">
                        <label class="form-label">Price</label>
                        <input
                            type="text"
                            name="edit[price]"
                            class="form-control"
                            placeholder="Enter Your Price"
                                                        value="<%=user.price%>"

                        >
                    </div>
<div class="mb-3 col-md-8">
                        <label class="form-label">Location</label>
                        <input
                            type="text"
                            name="edit[location]"
                            class="form-control"
                            placeholder="Enter Your Location"
                                                        value="<%=user.location%>"

                        >
                    </div>
                    </div>

        <div class="mb-3">
                        <label class="form-label">Country</label>
                        <input
                            type="text"
                            name="edit[country]"
                            class="form-control"
                            placeholder="Enter Your Country"
                                                        value="<%=user.country%>"

                        >
                    </div>

            <button type="submit" class="btn btn-dark edit-btn">Submit</button>

</form>
    
</body>
</div>

</div>